*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:rgb(39, 111, 129, 0.5);
}
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/gorgi_naumov.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-btn{
    color:white;
    display:inline-block;
    text-decoration: none;
    border: 1px solid white;
    background: transparent;
    font-size:20px;
    position:relative;
    padding:12px 34px;
    cursor:pointer;
    transition: 0.5s;
    margin-top: 20px;
}
.hero-btn:hover{
    color:white;
    border:1px solid rgb(0, 255, 98);
    background-color: rgb(0, 255, 98);
    transition: 1s;
    margin-top: 30px;
}
nav .fa{
    display:none;
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #0ad346;
    display: block;
    margin: "auto";
    transition:0.5s;
}.nav-links ul li:hover::after{
    width:100%;
}
h1{
    color:white;
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #fff;
    font-size:14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-evenly;
}
.footer{
    background-color: rgb(56, 54, 61);
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color:rgb(255, 255, 255);
    display: block;
    border:1px solid black;
    background-color: rgb(16, 102, 102);
    width: 20%;
}
.footer p{
    color:rgb(163, 163, 163);
}
.fa:hover{
    cursor:pointer;
}
.footer .fa{
    color:#1d7eec;
}
.ContactButton {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position:center;
    overflow: hidden;
    transform: translate(3px);
}
.spanButton {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.ContactButton:hover span {
    width: 100%;
}
.ContactButton:hover {
    border-color:#38363D;
}
textarea {
    resize: none;
}