.container{ 
  padding-top: 20px;
  padding-bottom: 20px;
}
.content h2{ 
  font-size:26px;
}
.content a{
  text-decoration: none;
  color: greenyellow;
}
.box{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 70%;
  background: #114529a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 90, 53);
  border: 2px solid #2aad6b;
  color: white;
  padding: 20px;
}

.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);
  
}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
} 

.sch-col{
  text-align: center;
  flex-basis:31%;
  background:rgb(34,34,34,0.8);
  border-radius: 10px;
  padding: 20px 12px;
  margin-bottom:5%;
  box-sizing: border-box;
  transition: 1s;
  border: 0.6px solid black;
}
.sch-col i{
  font-size: 24px;
  color:rgb(31, 132, 76);
  transition: 1s;
}
.sch-col:hover{
  box-shadow: 0 0 5px 0px rgba(70, 70, 70, 0.9);
  background:rgb(16, 102, 122);
  transform: scale(1.02);
  border: 0.6px solid black;
}
.sch-col:hover  i{
  color:white;
}
.sch-row{
  margin-top:4%;
  display:flex;
  justify-content:space-evenly;
}

/*button*/
button {
  margin: 20px;
  outline: none;
}
button:hover{
  cursor: pointer;
}
.btn-6 {
  background: transparent;
  color: #47ab53;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  background: #efbe53;
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}