header{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../../../img/gorgi_naumov_background.png);
}
hr{
    transform: translate(50%);
    width:50%;
    height: 2px;
}
.main {
    position: relative;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
    width: 60%;
    background: rgba(112, 112, 112, 0.7);
    box-shadow: 0 3px 22px 0 rgba(31, 135, 95, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 10px;
    border:0.5px solid rgb(46, 46, 46);
    transition: 0.6s;
}
.main p{
    text-shadow: 0.4px 0.2px black;
    text-indent: 20px;
    color: black;
    font-size: 20px;
    color:rgb(255, 255, 255);
}
.main:hover{
    background:rgb(16, 102, 122);
    cursor:default;
}
.info{
    border-radius: 10px;
    opacity: 0;
    transition: all 1s linear;
    z-index: 1;
    position:absolute;
    transform: translateX(31.5%);
    padding: 10px;
    margin: 20px;
    width:60%;
    display: none;
    transition: 1s;
}
@keyframes showInfo {
    from {opacity: 0;}
    to {opacity: 1;}
  }
#first_block:hover + #first_info{
    background: url(../../../img/chip_image.jpg);
    display: block;
    opacity: 1;
    /*transform: translateY(value);*/
    animation-name: showInfo;
    animation-duration: 0.4s;
}
#second_block:hover + #second_info{
    background: url(../../../img/telecoms.jpeg);
    display: block;
    opacity: 1;
    /*transform: translateY(value);*/
    animation-name: showInfo;
    animation-duration: 0.4s;
}
#third_block:hover + #third_info{
    background: url(../../../img/energetics.jpg);
    display: block;
    opacity: 1;
    /*transform: translateY(value);*/
    animation-name: showInfo;
    animation-duration: 0.4s;
}
#fourth_block:hover + #fourth_info{
    background: url(../../../img/Mechatronics.png);
    display: block;
    opacity: 1;
    /*transform: translateY(value);*/
    animation-name: showInfo;
    animation-duration: 0.4s;
}
@media(max-width: 1050px){
    .info{
        position:relative;
        transform: translateX(25.5%);    }
}