@media(max-width: 950px){
    .contact_us{
        width:80%;
    }
    nav img{
        margin-left:-40px;
        width: 200px;
    }
    .text-box h1{
        font-size: 28px;
    }
    .text-box h3{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: rgba(21, 151, 21, 0.7);
        height: 100vh;
        width:200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul li a{
        color: rgb(255, 255, 255);
    }
    nav .fa{
        display:block;
        color:black;
        margin: 10px;
        margin-right: 20px;
        font-size:22px;
        cursor:pointer;
    }
    .nav-links ul{
        padding: 20px;
    }
    .row{
        flex-direction: column;
    }
    .enroll h1{
        font-size: 20px;
    }
    .enroll .hero-btn{
        margin-top: 20%;
        width:60%;
    }
    .location{
        width:80%;
    }
    .box{
        position: relative;
        top: 400px;
        width: 90%;
        height: 78%;
    }
    .box .content{
        position:relative;
        top:0px;
        left:0px;
        right:15px;
        bottom:20px;
        border:1px solid #f0a591;
        padding:20px;
        text-align:center;
        box-shadow: 0 5px 10px rgba(9,0,0,0.5);
        
    }

    .content h2{
         font-size:20px;
    }
    .content h3{
        font-size: 17px;
    }
    .content p{
    font-size: 12px;
    }
}
@media(max-width: 750px){
    .box{
        position: relative;
        top: 360px;
        width: 90%;
        height: 78%;
    }
    .course-col:hover{
        transform: scale(1.05);
    }
}
@media(min-width:950px) and (max-width:1400px){
    .box{
        position: relative;
        top: 200px;
        width: 90%;
    }
    .box .content{
        position:relative;
        top:0px;
        left:0px;
        right:15px;
        bottom:20px;
        border:1px solid #f0a591;
        padding:20px;
        text-align:center;
        box-shadow: 0 5px 10px rgba(9,0,0,0.5);
        
    }
    .contact_us{
        width:30%;
    }
}
@media(min-width:1400px) and (max-width:1750px){
    .box{
        position: relative;
        top: 200px;
        width: 90%;
    }
    .box .content{
        position:relative;
        top:0px;
        left:0px;
        right:15px;
        bottom:20px;
        border:1px solid #f0a591;
        padding:20px;
        text-align:center;
        box-shadow: 0 5px 10px rgba(9,0,0,0.5);
        
    }
}